

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <p class="text-danger lead padding-4 margin-top-10 ">Burası ADMİN Panel</p>



</body>
</html>
